<% assign_meta_tags title: '新規アイデア投稿' %>
<div class="container">
  <div class="row idea-new">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-area">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">新規アイデア投稿</h3>

        <%= form_for @idea do |f| %>

        <!-- バリデーションを表示 -->
        <%= render 'shared/error_messages' %>

          <div class="form-group">
            <%= f.label :タイトル（必須）, autofocus: true %>
            <%= f.text_field :title, autofocus: true, class: 'form-control' ,placeholder:"タイトル" , :maxlength=>"20" %>
          </div>

          イメージ画像(モックアップ、設計図など)<small>画像部分をクリック、または画像をドラックアンドドロップしてください</small>
          <div class="cover-image-upload" id="js-main-image">
            <img class="image-preview-idea"/>
            <%= f.file_field :figure %>
            <%= f.hidden_field :status, value: "main" %>
          </div>

          <div class="form-group">
            <%= f.label :開発するアプリケーション（必須）, autofocus: true %><br />
            <label>
              <%= f.radio_button :category, :web , :checked => "checked"%>
              <span class="glyphicon glyphicon-globe">Webアプリ</span>
            </label>
            <label>
              <%= f.radio_button :category, :mobile %>
              <span class="glyphicon glyphicon-phone">モバイルアプリ</span>
            </label>
            <label>
              <%= f.radio_button :category, :desk_top %>
              <span class="glyphicon glyphicon-home">デスクトップアプリ</span>
            </label>
          </div>

          <div class="form-group">
            <%= f.label :サービス内容（100字以内）（必須）, autofocus: true %>
            <%= f.text_area :detail, autofocus: true, class: 'form-control', id: 'message', placeholder:"プログラミング学習者がオリジナルのサービスやアプリケーションのアイデアを投稿できるサービスを作りたい" , :maxlength => "100", size: "100x2" %>
            <span class="help-block">
              <p id="characterLeft" class="help-block ">You have reached the limit</p>
            </span>
          </div>

          <div class="form-group">
            <%= f.label :このサービスをやろうとおもったきっかけ（400字数以内）, autofocus: true %>
            <%= f.text_area :cue, autofocus: true, class: 'form-control', id: 'message2', placeholder:"自分が思いついたアイデアが実力に見合っているのかが判断つかない。自分のアイデアに対して様々な人の意見が欲しい。他の人のアイデアを見て、自分のアイデアの参考にしたい。" , :maxlength => "400", size: "100x4" %>
            <span class="help-block">
              <p id="characterLeft2" class="help-block ">You have reached the limit</p>
            </span>
          </div>

          <div class="form-group">
            <%= f.label :実装したい重要な機能（1000字以内）, autofocus: true %>
            <%= f.text_area :feature, autofocus: true, class: 'form-control', id: 'message3', placeholder:"アイデアの編集(投稿・更新・削除・参照)できる機能、アカウント認証機能、マイページ機能" , :maxlength => "1000", size: "100x10" %>
            <span class="help-block">
              <p id="characterLeft3" class="help-block ">You have reached the limit</p>
            </span>
          </div>

          <div class="form-group">
            <%= f.label :重点的に力をいれてみたいポイント（1000字以内）, autofocus: true %>
            <%= f.text_area :point, autofocus: true, class: 'form-control', id: 'message4', placeholder:"コメント機能(投稿したアイデアに対して)は非同期通信(Ajax)を使いたい。ホーム画面にスライドショーを実装したい。" , :maxlength => "1000", size: "100x10" %>
            <span class="help-block">
              <p id="characterLeft4" class="help-block ">You have reached the limit</p>
            </span>
          </div>

          <div class="form-group">
            <%= f.label :備考欄（1000字以内）, autofocus: true %>
            <%= f.text_area :remark, autofocus: true, class: 'form-control', id: 'message5', placeholder:"補足したいことやこのアイデアを見ている人に伝えたいことを書いてみよう" , :maxlength => "1000", size: "100x10" %>
            <span class="help-block">
              <p id="characterLeft5" class="help-block ">You have reached the limit</p>
            </span>
          </div>

          <%= f.hidden_field :user_id %>

          <%= f.submit class:"btn btn-primary pull-right", value: '投稿する', data: {disable_with: 'Sending...'} %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>