<%# <% assign_meta_tags title: 'Idee - 思いつきを投稿しよう', site:'' %> %>
<div class ="registrations-new">
    <div class="cover">

        <!-- sign up用のヘッダーを表示 -->
        <%= render partial: 'common/sign_up_header' %>

        <div class="jumbotron jumbotron-sign-up" id="signup-home">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-xs-12 text-center sign-up-home">
                        <h1>思いつきを投稿しよう</h1>
                        <p>あなたのアプリ・Webサービスのアイデアに</p>
                        <p>みんながコメントできるコミュニティ</p>
                    </div>

                    <div class="col-md-5 col-xs-12">
                        <div class="signin-signup-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-lock"></span>新規会員登録
                                </div>

                                <div class="panel-body">

                                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                    class:"form-horizontal", role:"form") do |f| %>

                                        <%= devise_error_messages! %>

                                        <div class="form-group">
                                            <div class="col-sm-12 col-xs-12 sign-in-up-form_item">
                                                <%= f.text_field :username, autofocus: true, class: 'form-control' ,placeholder:"ユーザー名(半角英数字・記号(_)4~20文字)" , pattern:"[a-zA-Z0-9_]{4,20}" , required:true %>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 sign-in-up-form_item">
                                                <%= f.email_field :email, autofocus: true, id:"inputEmail3", class: 'form-control' ,placeholder:"Email" ,required:true %>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 sign-in-up-form_item">
                                                <% if @validatable %>
                                                <em>(<%= @minimum_password_length %> 文字以上)</em>
                                                <% end %>
                                                <%= f.password_field :password, autocomplete: 'off', id:"inputPassword3", class: 'form-control', placeholder:"Password" ,required:true%>
                                            </div>
                                        </div>

                                        <div class='form-group'>
                                            <div class="col-sm-12 sign-in-up-form_item">
                                                <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' ,placeholder:"Password Confirmation"%>
                                            </div>
                                        </div>

                                        <div class="form-group last">
                                            <div class='actions'>
                                                <div class="col-sm-12">
                                                    <%= f.submit class: 'btn btn-success btn-sm sign-in-up-btn', value: '登録', data: {disable_with: 'Sending...'} %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="panel-footer">
                                    <%= render "devise/shared/links" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="signup-introduction section-danger" id="signup-introduction">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 summary">
                    <h1>Ideeとは</h1>
                    <div class="phrase">
                        <p>「作りたいWebサービスがあるんだけど、どうやって実現するんだろう」</p>
                        <p>「アプリのアイデアがひらめいたから、他の人の意見を聞いてみたい」</p>
                    </div>
                    <div class="explain">
                        <p>Ideeはそんなプログラミングを学ぶ人が</p>
                        <p>ふと思いついたアイデアをみんなでより良くするコミュニティです</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <%= image_tag 'example.jpg', class:"img-responsive" %>
                </div>
            </div>
         </div>
    </div>
    <div class="sign-up-feature text-center text-xs-center" id="signup-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h1>Ideeでできること</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw m-y-1 m-y-lg text-success fa-edit"></i>
                    <h2>アイデアを投稿</h2>
                    <p class="text-left">思いついたアイデアを気軽に投稿してみましょう。全ての質問に答える必要はありません。</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw m-y-1 m-y-lg text-success s-o fa-comments"></i>
                    <h2>アイデアにコメント</h2>
                    <p class="text-left">みんなのアイデアにコメントをしてみましょう。自分のアイデアが広がるきっかけになるかもしれません。</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw fa-lightbulb-o m-y-1 m-y-lg text-success"></i>
                    <h2>アイデアを見る</h2>
                    <p class="text-left">アイデアが思い浮かばない人はみんなのアイデアを見てみましょう。自分のアイデアの参考になります。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up-target text-center text-xs-center" id="signup-target">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h1>こんな人にオススメ</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw m-y-1 m-y-lg text-success fa-file-code-o"></i>
                    <h2>アプリ・Webサービスをこれから開発する</h2>
                    <p class="text-left">アイデアは考えたけど、様々な人から意見を貰って開発したい人</p>
                </div>

                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw m-y-1 m-y-lg text-success fa-question"></i>
                    <h2>何か作りたい!
                    <br>でもアイデアが無い!</h2>
                    <p class="text-left">アプリ・Webサービスのアイデアが思いつかないので、他の人のアイデアを参考にしたい人</p>
                </div>

                <div class="col-md-4 col-xs-12">
                    <i class="fa fa-5x fa-fw m-y-1 m-y-lg text-success fa-child"></i>
                    <h2>これからプログラミングを学ぶ</h2>
                    <p class="text-left">これからプログラミングを学ぶけれど、アイデアはある人</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cover">
        <div class="jumbotron jumbotron-get-it-now">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 text-center">
                        <h1 class="text-muted">その「思いつき」まずは投稿してみよう</h1>
                        <p>どんなアプリ・Webサービスも、ふとした「思いつき」から始まる
                        <br>そのはじめの一歩を踏み出してみませんか</p>
                        <a class="btn btn-lg btn-primary" href="#signup-home">新規会員登録</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
