<% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
          <%= link_to root_path, :class => 'navbar-brand' do %>
          <% end %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <%= link_to 'アイデアを投稿', new_idea_path , class:"glyphicon glyphicon-edit" %>
          </li>
          <li class="dropdown">
            <%# <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag(image_url(current_user.profile.avatar.url), class:"avatar") %>
            </a> %>
            <ul class="dropdown-menu">
              <li>
                  <%= link_to 'マイページ', profile_path(current_user.profile.id) , class:"glyphicon glyphicon-user" %>
              </li>

              <li>
                  <%= link_to '設定', edit_user_registration_path, class:"glyphicon glyphicon-wrench" %>
              </li>

              <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>