<div class="col-sm-4 col-md-3 idea-content">
  <div class="thumbnail">
    <%= link_to idea_path(idea.id) do %>
      <%= image_tag(image_url(idea.figure.url), class:"idea-thumbnail") %>
    <% end %>
    <div class="caption">
      <h3>
        <%= link_to idea.title, idea_path(idea.id), class:"text-abbreviation" %>
      </h3>
      <div class="idea-meta">
        <%= simple_format(add_glyphicon_to_category(idea)) %>
        <%= simple_format(idea.detail, class:"text-abbreviation") %>
        投稿者:<%= link_to idea.user.profile.nickname_to_username, profile_path(idea.user.profile.id), class:"text-abbreviation" %>
        <div class="idea-posted">
          <%= simple_format("#{idea.reviews.joins(:user).count}", class:"glyphicon glyphicon-comment") %>
          <p class="glyphicon glyphicon-time"><%= l idea.updated_at, format: :default %></p>
        </div>
      </div>
    </div>
  </div>
</div>